
h1 {
  text-align: center;
  margin-top: 100px;
}

#Player1 {
  float: left;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
}

.card {
  text-align: center;
  float: left;
  width: 300px;
  height: auto;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 200px;
}

#Player2 {
  float: left;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
}

.roll1{

}

.turnTotal1 {
  
}